/* nav nad image */

.navImage {
    display: block;
    margin: auto;
}

a:hover {
    text-decoration: underline;
}


/* footer */

a:hover,
a:focus {
    padding: 8px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.form-control {
    background: #212529;
    border-color: #545454;
}

.form-control:focus {
    background: #212529;
}

footer {
    background: #212529;
}


/* Page guide */

.breadcrumb-bullet .breadcrumb-item+.breadcrumb-item::before {
    content: '•';
}


/*carousal*/

#topCarousal {
    width: 65rem;
    height: 20rem;
}


/*aboutCap flex*/