.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
    margin-top: 20px;
}

.blockquote-custom-icon {
    width: 150px;
    height: 50px;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
}