.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
    margin-top: 20px;
}

.blockquote-custom-icon {
    line-height: 140%;
    width: 12rem;
    height: 4rem;
    font-size: 20px;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 30rem;
}

.cardButton {
    border: none;
}